*{
    background-color: #f0ead6;
    border: solid red;
    font-family:Arial, Helvetica, sans-serif
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 10px;
    padding:10px;
}
.top {
    color: 333333;
}
body{
    text-align: center;
}

.list {
    color: rgb(34, 88, 124);
}