*{
    background-color: #f0ead6;
    font-family:Arial, Helvetica, sans-serif;
    padding: 10px;
    border:10px;
    margin: 10 px;
}
#menu {
    position: fixed;
    right:0;
    top:50%;
    width: 8em;
    margin-top: -1.5em;
}
.top {
    color: 333333;
}
body{
    text-align: center;
}

.list {
    color: rgb(34, 88, 124);
}